body {
  background-color: #ecf0f1;
  color:#333;
  font: normal 14px "Open Sans", sans-serif;
  margin:0;
}

h2,h3,p,li {
  text-align:left;
  font-family: 'Titillium Web', sans-serif;
}

a {
  background-color:inherit;
  color:#333;
  text-decoration:none; 
}

a:hover
{
  color: #2ecc71;
  text-decoration: underline;
}

td{

    color: black;
    font-size: 16px;
}

tr a{
  font-family: 'Titillium Web', sans-serif;
  font-size: 19px;
}

tr th
{
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

#content-table ol
{

  margin-bottom: 20px;
  counter-reset: item;
}

#content-table li
{
  margin-left: -20%;
  font-family: 'Titillium Web', sans-serif;
  margin-bottom: 3px;
  display: block;
}

#content-table li::before
{
  content: counters(item, ".")". ";
  counter-increment: item;
}

#content-table
{
  background-color: #defce3;
  border: 1px solid black;
  width: 170px;
  height: 300px;
  padding: 0 2px;
}

#content-table p
{
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
  padding-left: 2.3em;
}

#exampleInputEmail1
{
  width: 10%;
}

#exampleInputPassword1
{
  width: 10%;
}

#summary
{
  background-color: #defce3;
  border: 1px solid black;
  margin-top: -20%;
  width: 340px;
  height: 500px;
  margin-left: 1250px;
  padding: 0 2px;
}

#summary p
{
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
  padding-left: 5.5em;
}

#summary li
{
  font-size: 16px;
  margin-bottom: 8px;
}


.container-fluid a
{
  padding: 0 0.3em;
  font-family: 'Titillium Web', sans-serif;
  font-size: 24px;
  font-family: 'Outfit', sans-serif;
}



#pseudo-wrap 
{
background: #88b503;
background: -webkit-linear-gradient(top,  #88b503 0%,#000000 110%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88b503', endColorstr='#000000',GradientType=0 );
height: 1180px;
margin:0;
width:100%;
z-index:-100;
position:absolute;
top:50px; left:0; right:0;
}

#wrap 
{
  width:92%;
  background-color:#f2f2f3;
  margin:30px auto 15px auto; 
}

#header 
{
  background: -webkit-linear-gradient(top,  #7fb50c 0%,#61a810 50%,#4ea800 51%,#568e07 100%);
  color:#fff;
  height:165px;
  -webkit-box-shadow: 0px 40px 20px -15px #C4D9A3;
  border:6px solid #fff;
  border-bottom:1px solid #fff;
}


#header h1 
{	
  text-align:left;
  padding:0 3em;
  margin:-100px auto 0 auto;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
}

#header img
{
  margin: 14px;
}

.twitter
{   
  position:absolute;
  padding-left: 70em;
}

.facebook
{
  position:absolute;
  padding-left: 67em;
}

.insta
{
  position:absolute;
  margin: -9px;
  padding-left: 63em;
}

.utube
{
  margin: 10px;
  position: relative;
  top: 6px;
  padding-left: 60em;
}

#header a
{	
	color:#fff;
}
	


nav 
{
  margin:6px auto;
}
  

	
#content
{ text-align:left;
  width:97%;
  padding:0 25px 10px 25px;
  margin:0 auto;  
}
	
#content h1
{
  font-family: 'Outfit', sans-serif;
}


#copyright-footer
{
  padding: 0 5em;
  font-size: 16px;t
}

	
#content p
{	text-align:justify;
	line-height:24px;
  font-size: 18px; 
}


#footer 
{
  background: #7fb50c;
  background: -webkit-linear-gradient(top,  #7fb50c 0%,#61a810 50%,#4ea800 51%,#568e07 100%);
  color:#fff;
  height:170px; 
  border: 5px solid #fff;
}

#footer a
{ background-color:inherit;
  color:#fff; 
  text-decoration:none; 
}
  

#footer p
{ font-size: 18px;

}










